.env
env/
*.pyc
*.log
db.sqlite3
# Secret keys and environment files
.env
*.key
*.pem

# Compiled static files
static/

# Django migrations
**/migrations/

# Ignore sensitive config files
local_settings.py