<header id="header" class="onepage-menu fixed">
	<div id="header-wrap">
		<nav id="navbar">
			<div class="main-logo">
				<a href="index.html">WM</a>
			</div>

			<div class="main-menu" id="navigation">
				<ul class="menu-list scrollspy-nav navbar-nav list-inline">
					<li class="scrollspy-link"><a href="#intro" data-target="intro" class="nav-link smoothscroll">Home</a></li>
					<li class="scrollspy-link"><a href="#about" data-target="about" class="nav-link smoothscroll">About</a></li>
					<li class="scrollspy-link"><a href="#portfolio" data-target="portfolio" class="nav-link smoothscroll">Portfolio</a></li>
					<li class="scrollspy-link"><a href="#services" data-target="services" class="nav-link smoothscroll">Services</a></li>
					<li class="scrollspy-link"><a href="#contact" data-target="contact" class="nav-link smoothscroll">Contact</a></li>
					<!-- <li class="scrollspy-link"><a href="#testimonial" data-target="testimonial" class="nav-link smoothscroll">Testimonials</a></li> -->
					
					<span class="scrollspy-indicator"></span>
				</ul>
			</div>
		</nav>
<!--action-menu-->

	</div><!--header-wrap-->
</header>